@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background: rgba(178, 122, 178, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 24px;

  font-size: 18px;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
.nav-title {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
}
/* banner style */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-weight: 700;
  font-size: 3.9rem;
  color: #131313;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-top: 20px;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  padding: 18px 36px;
  font-weight: 600;
  border: 0;
  margin-top: 20px;
}
.banner-img {
  width: 100%;
  margin-top: 20px;
}
/* this is main section style */
main {
  margin: 1440px;
  margin: 40px auto;
  background-color: rgb(255, 255, 255);
}
.team-content {
  display: flex;
  align-items: center;
  border-radius: 8px;
  
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-left: 240px;
}
.team-info {
  margin-left: 60px;
  margin-right: 70px;
}
.img-edit-team {
  height: 242px;
  width: 242px;
}
.quick-list {
  color: #727272;

  font-size: 45px;

  font-weight: 500;
}

.of-our {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.Features {
  color: #ff900e;
  font-size: 45px;
  font-weight: 700;
}
.team-decription {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}






/* responsive-design */
/* responsive for mobile */
@media screen and (max-width: 576px) {
    header {
      padding: 20px;
    }
    nav,.team-content  {
      flex-direction: column;
      align-items: flex-start;
    }
    .team-img{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0%;
    }
    main {
        margin: 10%;
    }
    .team-info {
        margin-left: 7px;
        margin-right: 7px;}
   
  }
  
  /* responsive for medium device */
  @media screen and (min-width: 576px) and (max-width: 960px) {
    header {
      padding: 50px;
    }
    nav,.team-content  {
      flex-direction: column;
      align-items: flex-start;
    }
    .team-img{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 0%;
       
    }
    main {
        margin: 10%;
    }
    .team-info {
        margin-left: 7px;
        margin-right: 7px;}
   
  }
